DB_CONNECTION=pgsql
DB_DRIVER=pgsql
DB_HOST=ep-young-rice-agyirx4x-pooler.c-2.eu-central-1.aws.neon.tech
DB_PORT=5432
DB_NAME=neondb
DB_USERNAME=neondb_owner
DB_USER=neondb_owner
DB_PASSWORD=npg_CUHgXy8tz0iT

# URI (dla tych miejsc w kodzie, które czytają URL)
DB_URL=postgresql://neondb_owner:npg_CUHgXy8tz0iT@ep-young-rice-agyirx4x-pooler.c-2.eu-central-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require&options=endpoint%3Dep-young-rice-agyirx4x-pooler

# DSN dla PDO (wersja „klucz=wartość” – tu NIE trzeba encodować)
DB_DSN=pgsql:host=ep-young-rice-agyirx4x-pooler.c-2.eu-central-1.aws.neon.tech;port=5432;dbname=neondb;sslmode=require;options=endpoint=ep-young-rice-agyirx4x-pooler

APP_DEBUG=false
APP_ADMIN_USER=jakub
APP_ADMIN_PASSWORD=Kaktusek1
APP_ADMIN_ROLE=admin
