DB_DRIVER=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=neondb
DB_USER=neondb_owner
DB_PASSWORD=npg_CUHgXy8tz0iT
DB_URL=postgresql://neondb_owner:npg_CUHgXy8tz0iT@ep-young-rice-agyirx4x-pooler.c-2.eu-central-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
APP_DEBUG=false
APP_ADMIN_USER=jakub
APP_ADMIN_PASSWORD=Kaktusek1
APP_ADMIN_ROLE=admin